:root {
    --blue: #1894cc; 
    --blue-hover: #117BAB;
    --green: #8fc547;
    --white: #ffffff;
    --font-one: "Source Sans Pro", sans-serif;
  }

.dog-logo img {
    width:200px;
    display: block;
    margin: 0 auto;
    }
    
.hamburger-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 60px;
    /* box-shadow: 0 0 4px 0 rgba(0,0,0,0.22); */
    z-index: 1;
    overflow: hidden;
    }
      
    .hamburger-icon svg {
        position: absolute;
        top: 0;
        left: 20px;
        width: 30px;
        height: 4px;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        fill: var(--blue);
    }
      
    #hamOne rect {
    
        width: 30px;
        height: 3px;
    }
    
    #hamTwo rect{
    
        width: 30px;
        height: 3px;
    }
      
    #hamThree  rect {
    
        width: 30px;
        height: 3px;
    }
      
      
    #hamOne  {
        top: 25px;
    }
    
    #hamTwo {
        top: 35px;
    }
      
      #hamThree  {
          top: 45px;
      }

      .hamburger-icon .ham-bar rect {
        fill:rgb(24,148,204);
    }

      .search-icon i {
        position: absolute;
        top: 19px;
        right: 23px;
    }
    .fa, .fas {
        color:var(--green);
    }

    .footer {
        background-color: #3c3a3c;
    }

    .footer-logo img {
        width: 100px;
    }

    .footer-list {
        position: relative;
    }

    .footer-list ul {
        list-style: none;
        color:var(--white);
    }

    .footer-list ul li {
        display: inline;
    }

    .social-icons {
        top: 22px;
        position: relative;
    }


    .fab {
        color:var(--white);
        padding-left: 5px;
    }
