:root {
    --blue: #1894cc; 
    --green: #8fc547;
    --white: #ffffff;
    --font-one: "Helvetica", sans-serif;
  }

.dog-logo img {
    width:200px;
    }
    
.hamburger-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 92px;
    /* box-shadow: 0 0 4px 0 rgba(0,0,0,0.22); */
    z-index: 1;
    background: #ffffff;
    overflow: hidden;
    }
      
    .hamburger-icon svg {
        position: absolute;
        top: 0;
        left: 20px;
        width: 30px;
        height: 3px;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }
      
    #hamOne rect {
    
        width: 30px;
        height: 3px;
    }
    
    #hamTwo rect{
    
        width: 30px;
        height: 3px;
    }
      
    #hamThree  rect {
    
        width: 30px;
        height: 3px;
    }
      
      
    #hamOne  {
        top: 25px;
    }
    
    #hamTwo {
        top: 35px;
    }
      
      #hamThree  {
          top: 54px;
      }
